body { /* Общие стили для боди*/
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  background-color: #849d8f;
  max-width: 1200px;
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
  margin-left: auto;
  margin-right: auto;
  border: 1px dotted black;
}

.header-site-navigation-items, /*Удаляем маркеры у списка*/
.catalog-navigation-items,
.user-navigation-items,
.cart-navigation-items,
.slider-items,
.slider-btn-items,
.action-items,
.catalog-items,
.main-features-items,
.social-btn-items,
.about-production-items,
.login-new-items,
.breadcrumbs,
.pagination-items,
.social-btn-items,
.search-list
{
  list-style: none;
}

.search-list,
.user-navigation-items,
.cart-navigation-items{
  margin: 0;
  padding: 0;
}

.btn-null{
  background: none;
  border: 0;
  color: #ffffff;
  font-size:0;
  line-height: 0;
  font-weight: 400;
  overflow: visible;
  padding: 0;

  cursor: pointer;
}

.visually-hidden { /*Скрываем невидимые элементы*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a { /* стили для всех ссылок кроме лого сайта и лого htmlacademy*/
  text-decoration: none;
  color: #ffffff;
}
.a-white { /*подчеркивание белой ссылки*/
  color:#ffffff;
  border-bottom: 1px solid rgba(255,255,255,0.3)
}
.a-white:hover,          /* Изменение ссылок на темном фоне при наведении...*/
.a-white:focus,
.a-white:active{
  color:#ffbc9e;
  border-bottom: 1px solid rgba(255,188,158,0.3);
}

.a-black { /* Черная ссылка*/
  color: #323232;
  border-bottom: 1px solid rgba(178,178,178, 0.3);
}
.a-black:hover, /* Состояния черной ссылки*/
.a-black:focus,
.a-black:active {
  color: #e84d37;
  border-bottom: 1px solid rgba(236,89,60,0.3);
}

.main-menu {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.user-navigation-items, /**/
.cart-navigation-items,
.header-contacts,
.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.header-site-navigation-items {
  min-width: 550px;
}
.header-site-navigation-item a { /*Обычное состояние каталог досьавка о компании*/
  display: inline-block;
  margin: 0;
  margin-right: 27px;
  margin-left: 27px;

  margin-bottom: 10px;
  margin-top: 9px;

  vertical-align: middle;
  min-width: 50px;
  border-bottom: 1px solid rgba(255,255,255,0.2);

}

.header-site-navigation-item a:hover, /* Наведение на каталог*/
.header-site-navigation-item a:focus {

  color: #323232;
  background-color: #f8f7f4;
  border: 1px solid #ffffff;
  border-radius: 50px;

  padding-left: 14px;
  padding-right: 13px;
  padding-top: 9px;
  padding-bottom: 9px;

  margin-bottom:0;
  margin-top: 0;
  margin-right: 12px;
  margin-left: 13px;

}

.header-site-navigation-item a:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 1);
  border: none;
}

/*.catalog-navigation:hover .catalog-navigation-items,
.catalog-navigation:focus .catalog-navigation-items,
.catalog-navigation:active .catalog-navigation-items{
  display: block;
}*/

.catalog-navigation-current a {
  display: inline-block;
  padding-left: 14px;
  padding-right: 13px;
  padding-top: 9px;
  padding-bottom: 10px;
  border-radius: 50px;
  background-color: #d07058;
}

.login-link a {
  padding-left: 44px;
  padding-right: 17px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 50px;
  margin-top: 22px;
  margin-left: 10px;
}

.cart-link-empty a {
  padding-left: 45px;
  padding-right: 17px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 50px;
  margin-top: 22px;
  margin-left: 10px;
}

/*//////////*/
.search {
  width: 33px;
  height: 33px;
  /*padding: 8px;*/
  margin-top: 22px;
  border-radius: 50%;
}

.search-idex {
  margin-left: 17px;
}

.search,
.login-link a,
.cart-link-empty a {
  display: inline-block;
  background-color: rgba(255,255,255,0.2);
}

.login-link a:hover,
.login-link a:focus,
.search:hover,
.search:focus,
.cart-link-empty a:hover,
.cart-link-empty a:focus{
  color: #323232;
  background-color: #f8f7f4;
}

.cart-link a {
  color: #323232;
  background-color:#f7f6f3;
}
.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-left: 27px;
  margin-top: 28px;
  display: flex;
  font-weight: 400;
}

.breadcrumbs-item a:not(.current-breadcrumbs) {
  margin-right: 22px;
  border-bottom: 1px solid rgba(253,254,254,0.2);
}

.header-contacts {
  font-weight: 700;
  margin: 0; /*********/
  margin-bottom: 8px;
}
.tel {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.slider-info {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #ffffff;
}
.slider-item:first-child .slider-info {
  line-height: 60.35px;
}

.slider-btn-item{
  width: 19px;
  height: 19px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-btn-item:hover:not(.current-slide),
.slider-btn-item:focus:not(.current-slide){
  border: 1px solid #ffffff;
  background-color: rgba(248,247,244,0.4);
}
.slider-btn-item:active,
.current-slide{ /*Текущий слайд. Как сделать кнопку активной без класса. можно с помощью js добавлять или убирать класс*/
  background-color: #ffffff;
}


.action-item {
  font-size: 18px;
  line-height: 21.5px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 15px;
  background-image: url("../img/background/background-raspb.jpg");
  /*background-repeat: no-repeat;*/

}

.action-item:first-child {
  margin-right: 26px;
}
.action-item h3 {
  font-size: 35px;
  line-height: 41px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 23px;
}

.action-item:last-child {
  background-image: url("../img/background/background-choco.jpg");
}

.action-description {
  min-width: 526px;
  margin-left: 20px;
  margin-bottom: 45px;

}

.action-item a {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  margin-right: 21px;
  float: right;
  margin-bottom: 24px;
  padding-top: 15px;
  padding-bottom: 14px;
  padding-right: 23px;
  padding-left: 21px;

}

.catalog-item a {
  font-size: 16px;
  font-weight: 500;
}

.catalog-item-price {
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  top: 214px;
  left: 0;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}
.catalog-item-price span {
  font-size: 40px;
}

.catalog-items h2 {
  margin: 0;
  padding: 0;
  margin-top: 17px;
  text-align: center;
}


.main-features {

  background-image: url("../img/background/Background-waffle.jpg");
  background-repeat: repeat;
  padding-bottom: 26px;
}

.main-features h1,
.blog {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.main-features h1 {
  margin: 0;
  padding:0;
  margin-left: 21px;
  margin-top: 29px;
  margin-bottom: 26px;
}

.main-features-items {
  padding: 0;
  margin: 0;
  margin-left: 20px;
  margin-right: 33px;
  display: flex;
  flex-wrap: wrap;
  width: 1093px;
  align-items: stretch;
  justify-content: space-between;





}

.main-features-items li {

  margin: 0;
  padding: 0;
  /*border: 1px solid black;*/
}



.main-features-items li:nth-child(2n-1) {
  padding-left: 56px;
  width: 476px;
  margin-right: 33px;
}

.main-features-items li:nth-child(2n) {
  padding-left: 58px;
  width: 470px;
}

li.second-stroke {
  margin-top: 5px;
  padding-top: 7px;
}

.container-blog {
  display: flex;
  margin-bottom: 39px;
}

.main-blog {

  background-image: url("../img/background/background-blog.jpg");
  background-position: -50px 565px;
  margin: 0;
  padding: 0;
  width: 560px;
  border-radius: 15px;
}
.main-blog p:not(.blog-link) {
  margin: 0;
  padding: 0;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 19px;
}

.blog-link {
  margin: 0;
  padding: 0;
  width: 285px;
  padding-bottom: 83px;
  margin-left: 19px;

}
.blog {
  display: inline-block;
  font-weight: 700;
  border-bottom: 2px solid #323232;
}

.blog-link a:not(:first-child) {
  padding-left: 1px;
}


.main-subscription-form {
  background-image: url("../img/bg-post.svg");
  max-width: 549px;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 5px;
}

.subscription-background {
  width: 549px;
  border-radius: 10px;
  background-color: #f8f7f4;
}

.subscription-form-description {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  margin-left: 21px;
  margin-bottom: 38px;
  margin-right: 22px;
  color:#5a5a5a;
}

.sudscription-mail {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  margin-left: 20px;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-top: 11px;
  padding-bottom: 9px;
  width: 351px;
  border-radius: 5px;
}

.btn-send {
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 12px;
  padding-bottom: 10px;
  margin-left: 11px;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="search"]::placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}


.feedback-contacts {
  font-size: 14px;
  line-height: 20px;
  background-color: #fdfdfd;
}

.shop-adress,
.phone {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.page-title {
  margin: 0;
  padding: 0;
  margin-top: 8px;
  margin-left: 27px;
  margin-bottom: 29px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}
.filter-form {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color:#ffffff;
}
.form-style {
  font-size: 14px;
  line-height: 16px;
}

.background-filters {
  background-color: rgba(255,255,255,0.2);
}

.form-style select {
  color: #ffffff;
  border: none;
}

.form-style select:hover,
.form-style select:focus {
  color: #323232;
}

.form-style select:active {
 background-color: #ffffff;
  color: #323232;
}

.filter-form fieldset{
  border:none;
}

.filter-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50px;
  background-color: rgba(255,255,255,0.2);
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;
  background-color:#fbfcfb ;
}

.filter-button:active {
  color: #323232;
  background-color: #ededed;
  border: none;
  box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 1)
}

.pagination-items {
  margin: 0;
  padding: 0;
  margin-top: 87px;
  margin-right: 27px;
  display: flex;
  justify-content: flex-end;
  line-height: 18px;
  font-weight: 500;
}

.pagination-item a {
  width: 25px;
  height: 21px;
  display: inline-block;
  text-align: center;
  padding-top: 4px;
}

.pagination-item:last-child a {
  margin-right: 0;
}

.pagination-item  a:hover:not(.pagination-item-current), /*как выровнять внутри круга*/
.pagination-item a:focus:not(.pagination-item-current) {

  background-color: rgba(255,255,255,0.4);
  border-radius: 50%;
  display: block;
}

.pagination-item  a:active,
.pagination-item-current  {
  width: 25px;
  height: 21px;
  color: #323232;
  background-color:#ffffff;
  border-radius: 50%;
  display: block;
}

.end-line {
  margin: 0;
  padding: 0;
  margin-left: 27px;
  margin-right: 27px;
  margin-top: 30px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.about-production {
  font-size: 13px;
  line-height: 18px;
}
.about-production-items li:first-child {
  font-weight: 700;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.user-login {
  width: 277px;
  height: 214px;
  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.login-new-items {
  font-size: 13px;
  line-height: 24px;
}

.shopping-cart {
  width: 539px;
  height: 242px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.cart-table {
  font-size: 13px;
  line-height: 16px;
}
.cart-table span {
  color:#999999;
}

.total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}



.btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  -webkit-transform: matrix( 1.04013375779322,0,0,1.04013375779322,0,0);
  background-color: #ffffff;
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  border-radius: 50px;
  display: inline-block;
}

.btn:hover, /* Не понятно как сделать цвет макета*/
.btn:focus {
  /* background-image: -webkit-linear-gradient( rgba(255, 255, 255, 0.2), rgba(255,255,255, 0.2));*/
  background-image: -webkit-linear-gradient( 90deg, rgba(231,74,53,0.8) 0%, rgba(242,104,67, 0.8) 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
}

.btn:active {
  background-image: -webkit-linear-gradient( rgba(0, 0, 0, 0.07), rgba(0,0,0, 0.07));
  background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0 2px 2px 0  #952718/*rgba(148, 39, 24, 0.004)*/;
}


input[type="email"],
input[type="password"],
input[type="search"]{
  border: 1px solid #b2b2b2;
}

input[type="email"]:hover,
input[type="password"]:hover,
input[type="search"]:hover{
  border: 2px solid rgba(154,154,154,0.52);
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus{
  border: 2px solid rgba(46,136,228,0.52);
}

input[type="email"]:active,
input[type="password"]:active,
input[type="search"]:active {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  border: 1px solid rgba(178,178,178,0.52);
}


a.quick-view {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  max-width: 200px;
  display: none;
}
.ice-container {
  width: 293px;
}

.ice-container:hover,
.ice-container:focus { /*как сделать появление кнопки и фона при переключении табом*/
  background-color: rgba(248,247,244,0.2);
}

.ice-container:hover a.quick-view,
.ice-container:focus a.quick-view {
  display: block;
}

.ice-in-catalog {
  border-radius: 50%;
}

.catalog-navigation-items {
  width: 141px;
  border: 1px solid rgba(194,206,199,0.52);
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  display:none;
}

.catalog-navigation-item:hover .header-site-navigation-item.catalog-navigation+a {
  border: 1px solid black;
}


.catalog-navigation-items a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  border: none;
}

.catalog-navigation-item.catalog-navigation-item-new {
  font-weight: 700;
}

.catalog-navigation-item:hover,
.catalog-navigation-item:focus {
  background-color: #fbded7;
}

.catalog-navigation-item:active {
  background-color: #f6b5a5;
}

.slider-info+a {
  font-size: 32px;
  line-height: 44px;
  font-weight:700;
}




/*Приемущества блог и форма обратной связи*/
.container-features {
  margin: 0;
  padding: 0;
  border: 1px solid darkorchid;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
}

.main-features {
  margin-left: 27px;
  margin-bottom: 40px;
  margin-right: 27px;
  border-radius: 15px;
}

.main-blog, .main-subscription-form {
  width: 560px;
}

.main-blog {
  margin-left: 27px;
  margin-right: 26px;
}


.catalog-items {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-left: 27px;
  margin-right: 27px;
  border: 1px solid darkred;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-item {
  width: 267px;
  border: 1px solid black;
  position: relative;

}

.action-items {
  margin: 0;
  padding: 0;
  border: 1px solid yellow;
  display: flex;
  justify-content: space-between;
  margin-top: 41px;
}

.action-item {
  width: 560px;
}

.action-item:first-child {
  margin-left: 27px;
  margin-right: 0;
}

.action-item:last-child {
  margin-right: 27px;
}

.slider-btn-items {
  display: flex;
  justify-content: flex-start;
  margin-top: -50px;
}

.slider-btn-item {
  margin-right: 8px;
}

.map {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.feedback-contacts {
  width: 302px;
  align-self: flex-end;
  position: absolute;
  border-radius: 15px;
  top: 62px;
  right: 27px;
}


.contacts {
  width: 148px;
  margin-bottom: 9px;
}

.shop-adress  {
  padding-left: 25px;
  width: 225px;
  margin: 0;
  margin-bottom: 23px;
}


.contacts, .phone-shop {
  padding-left: 25px;
}

.phone-shop {
  margin-bottom: 12px;
}
.phone-time-work {
  padding-left: 25px;
  margin: 0;
  margin-bottom: 26px;
}
.btn-feedback {
  display:block;
  margin-bottom: 31px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 28px;
  padding-right: 28px;
  text-align: center;
  width: 197px;
}

.page-footer {
  margin: 0;
  padding: 0;
  display: flex;
  border: 1px solid red;
  align-self: stretch;
  justify-content: space-between;
  margin-top: 36px;
  margin-right: 27px;
}

.page-footer-catalog {
  margin-top: 18px;
}

.social-btn-items {
  margin: 0;
  padding: 0;
  margin-left: 28px;
  display: flex;
  border: 1px solid saddlebrown;
}

.social-btn-items li {
  min-width: 38px;
  min-height: 38px;
  background-color: #ffffff;
  border-radius: 50%;
}

.social-btn-items li:not(:last-child) {
  margin-right: 12px;
}

.about-production-items {
  margin: 0;
  padding: 0;
  display: flex;
  border: 1px solid yellow;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 306px;

}

.about-production-items li:first-child {
  margin-right: 32px;
}

.about-production-items li:last-child {
  margin-left: 44px;
}

.about-production-items li {
  margin-bottom: 9px;
}

.footer-copyright-link {
  display: block;
  margin-bottom: 8px;
}




.page-header {
  border: 1px solid red;
  align-self: stretch;
  display: flex;
 justify-content: flex-start;
  position: relative;
}
.page-header-logo { /*Логотип*/
  margin: 0;
  padding:0;
  margin-top: 9px;
  margin-left: 27px;
  padding-right: 24px;
}
/*
.page-header-navigation {
  display: flex;
  border: 1px solid darkmagenta;
  align-self: flex-start;
}*/

.page-header-navigation {
  border: 1px solid darkblue;
  display: flex;


}

.header-site-navigation-items { /*Каталог Доставка о компании*/
  padding: 0;
  margin: 0;
  margin-top: 23px;
  /*margin-left: 24px;*/
  display: flex;
  flex-wrap: wrap;
  border: 1px solid limegreen;
}

.container-user-menu {
  border: 1px solid coral;
  display: flex;
  margin-left: 151px;
}

/*
.header-site-navigation-item:not(:last-child) {
  margin-right: 27px;
}

.search-form {
  margin-left: 375px;

}
.search-form, .login-link {
  margin-right: 10px;
  margin-top: 23px;
}

.cart-link-empty {
  margin-top: 23px;
}*/
.open-close {
  position: absolute;
  top:75px;
  right: 27px;
}

.slider-item {
  z-index: 1;
  margin-top: -110px;
}

.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-info {
  margin-top: -490px;
  text-align: center;
  width: 670px;
  margin-bottom: 30px;
}

.slider-item a {
  width: 198px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 16px;
  padding-bottom: 16px;
}

